@page "{id}"
@model PaintingStore.Pages.Paintings.DeleteModel
@{
    ViewData["Title"] = "Delete";

    var photoPath = $"/images/{Model.Painting.Photopath ?? "noimage.png"}";
}

<h1 class="text-center justify-content-center">Delete Confirmation</h1>

<div class="alert alert-danger">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
            <div class="text-center text-secondary">
                <h4>Painting ID: <span class="text-primary">@Model.Painting.Id</span></h4><hr />
                <h4>Painting Name: <span class="text-primary">@Model.Painting.Name</span></h4><hr />
                <h4>Painting Author: <span class="text-primary">@Model.Painting.Author</span></h4><hr />
                <h4>Painting Genre: <span class="text-primary">@Model.Painting.Genre</span></h4><hr />
                <h4>Painting Price: <span class="text-primary">@Model.Painting.Cost</span></h4><hr />
                <img style="width: 50%" src=@photoPath asp-append-version="true" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h5>Confirm deleting - @Model.Painting.Name ?</h5>

            <form method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-primary" asp-page="/Paintings/Paintings">Go Back</a>
            </form>
        </div>
    </div>
</div>
